@import './styles/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-primary;
}

.content {
  padding: 8rem 0;
  min-height: 100vh;
}

.theme {
  background: var(--bg-color);
  color: var(--title-color);
}

.container {
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

a {
  font: inherit;
  text-decoration: none;
  color: var(--text-color);
}

ul {
  font: inherit;
  list-style: none;
}

button {
  font: inherit;
  outline: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
